
<form action="/admin/addcategory" method="post" class="container">
  <div class="form-group">
    <label for="categoryname">Category name</label>
    <input type="text" class="form-control" placeholder="Enter New category" name="categoryname">
    <br>
    {{#if categoryexist}}
    <p class='text-danger'>Category already exist</p>
    {{/if}}
  <button type="submit" class="btn btn-primary">Add</button>
</form>