<!-- start footer -->


    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class=" border-bottom pb-3 border-light logo h2 "> <span class="text-light"><b>faux</b></span><span
                            class="text-danger"><b>Men</b></span></h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Buiding No 34, Kinfra Industrial Park, calicut
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:9037379509">+91-9037379509</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@fauxmen.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" >Shirts</a></li>
                        <li><a class="text-decoration-none" >Trousers</a></li>
                        <li><a class="text-decoration-none" >T-Shirts</a></li>
                        <li><a class="text-decoration-none" >Jeans</a></li>
                        

                        
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none">Home</a></li>
                        <li><a class="text-decoration-none">FAQs</a></li>
                        <li><a class="text-decoration-none">Contact</a></li>
                    </ul>
                </div>

            </div>

          

    </footer>
    <!-- End Footer -->