.product-grid {
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.product-grid .product-image {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.product-grid .product-image a.image {
    display: block;
}

.product-grid .product-image img {
    width: 100%;
    height: auto;
    transition: all .3s ease 0s;
}

.product-grid .product-image:hover img {
    transform: scale(1.05);
}

.product-grid .product-sale-label,
.product-grid .product-new-label {
    color: #fff;
    background: #e55757;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}

.product-grid .product-new-label {
    background: #86d03b;
    font-size: 12px;
    right: auto;
    left: 10px;
}

.product-grid .product-links {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
    position: absolute;
    bottom: 40px;
    left: 50%;
    transition: all .3s ease 0s;
}

.product-grid .product-links li {
    margin: 0 2px;
    display: inline-block;
    opacity: 0;
}

.product-grid .product-links li:nth-child(1) {
    transition: all 0.3s ease .1s;
}

.product-grid .product-links li:nth-child(2) {
    transition: all 0.3s ease .15s;
}

.product-grid .product-links li:nth-child(3) {
    transition: all 0.3s ease .2s;
}

.product-grid .product-links li:last-child {
    transition: all .3s ease .25s;
}

.product-grid .product-links li a {
    color: #000;
    background-color: #fff;
    font-size: 18px;
    line-height: 41px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    transition: all 0.7s ease 0s;
}

.product-grid .product-links li a:hover {
    color: rgb(75, 29, 29);
    background: #ffd15e;
}

.product-grid:hover .product-links li {
    opacity: 1;
}

.product-grid .rating {
    background: #fff;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.product-grid .rating li {
    color: #3ac322;
    font-size: 13px;
    margin: 0 -2px;
}

.product-grid .rating li.disable {
    color: #d8d8d8;
}

.product-grid:hover .rating {
    opacity: 1;
    bottom: 0;
}

.product-grid .product-content {
    padding: 15px 15px 0;
}

.product-grid .title {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 7px;
}

.product-grid .title a {
    color: #222;
    transition: all 0.3s ease 0s;
}

.product-grid .title a:hover {
    color: #000;
    text-decoration: underline;
}

.product-grid .price {
    color: #000;
    font-size: 17px;
    font-weight: 700;
}

.product-grid .price span {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
}

@media screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px;
    }
}